data/bold5000
data/bold5000_fold*

data/forrest
data/neuromod

data/nsd/3mm
data/nsd/info
data/nsd/difumo
data/nsd/difumo_standardized
data/nsd/pretrain

data/rsvp/1_5mm
data/rsvp/3mm
data/rsvp/difumo
data/rsvp/pretrain
data/rsvp/pretrain_difumo
data/rsvp/pretrain_wholebrain
data/rsvp/wholebrain

data/difumo_atlases
data/joblib

results
old_results
